allure-pytest
allure-python-commons
attrs
certifi
charset-normalizer
dotenv
greenlet
idna
iniconfig
packaging
playwright
pluggy
pyee
pytest
pytest-base-url
pytest-playwright
python-dotenv
python-slugify
requests
text-unidecode
typing_extensions
urllib3
